PUBLIC_SANITY_PROJECT_ID='your-projrctId'
PUBLIC_SANITY_DATASET='your-dataset'

PUBLIC_SANITY_STUDIO_PREVIEW_URL='your-dev-or-production-url'

# choose settings here
PUBLIC_SANITY_STUDIO_BASE_PATH='/admin'
PUBLIC_SANITY_VISUAL_EDITING='true'