---
import { createDataAttribute } from "@sanity/visual-editing"
import SanityImage from "./SanityImage.astro";
const { id, type, path } = Astro.props

const baseUrl = /*import.meta.env.PUBLIC_SANITY_STUDIO_PREVIEW_URL + */
  import.meta.env.PUBLIC_SANITY_STUDIO_BASE_PATH

const attr = (path:string) => createDataAttribute({
  id: id,
  type: type,
  baseUrl: baseUrl,
  path: path
})
---

<div class="tight-wrapx"  data-sanity={attr(path)} >
  <slot />
</div>

<style>
  .tight-wrap {
    width: fit-content;
    height: fit-content;
  }
/*  .tight-wrap img {
    display: block; !* Remove extra spacing below the image *!
  }*/
</style>