---
import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";

export const prerender = false;
const posts = await sanityClient.fetch(`*[_type == "post" ] | order(publishedAt desc)`);
---

<Layout title="Welcome to Sanity Astro Presentation." live>
  <section>
    {posts.length
      ? posts.map((post) => <Card key={post._id} post={post} />)
      : <Welcome />}
  </section>
</Layout>
