---
import { createDataAttribute } from "@sanity/visual-editing"
import SanityImage from "./SanityImage.astro";
const { _id, _type, path } = Astro.props

const baseUrl = import.meta.env.PUBLIC_SANITY_STUDIO_PREVIEW_URL +
  import.meta.env.PUBLIC_SANITY_STUDIO_CALL_PATH

const attr = (path:string) => createDataAttribute({
  id: _id,
  type: _type,
  baseUrl: baseUrl,
  path: path
})
---

<div class="tight-wrap"  data-sanity={attr(path)} >
  <slot />
</div>

<style>
  .tight-wrap {
    width: fit-content;
    height: fit-content;
  }
  .tight-wrap imgo {
    display: block; /* Remove extra spacing below the image */
  }
</style>